
div{
    margin: auto;
}
h1{
    font-size: 40px;
    margin: auto;
    margin-top: 15%;
    text-align:center
}
.p1{
    font-size: 30px;
    text-align: center;
    color: black;
   margin-right: 20px;
}
.p2{
    font-size: 30px;
    text-align: center;
    color: white;
    margin-right:20px;
}
button{
    width:200px;
    height:70px; 
    font-size: 24px;
    margin-left: 42%;
    margin-top:30px;
    background-color: #e7e7e7;
    color: black;
    border-radius: 8px; 
}
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}